<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xz.tools.xcamera">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name=".ui.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".ui.AlbumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AlbumTheme" />
        <activity
            android:name=".ui.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
    </application>

</manifest>